.postContainer{
    margin-top: 30px;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68); 
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
}

.userInfo{
    display: flex;
    align-items: center;
}
.avatarText{
    font-weight: bolder;
}
.time{
    margin-left: 10px;
    font-size: 13px;
    font-weight: bolder;
    color: grey ;
}
.topInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.heading{
    margin-top: 20px;
}
.stats{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.statsBtn{
    height: 40px;
    cursor: pointer;
}
.postBtnLeft{
    display: flex;
    align-items: center;
}
.likeCounter{
    font-weight: bold;
    font-size: 14px;
}
.like{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.postImg{
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    object-fit: contain;
}
